{% extends 'admin_base.html' %}
{% load staticfiles %}
{% block title %}创建测试{% endblock %}
{% block content %}
<style>

</style>
 <!-- style="background: url(/static/images/form-bg.jpg) no-repeat center top;" -->
<div class="container">
    <div class="alert alert-danger">
        <h5 class="text-center">创建测试</h5>
        <p>1. 首先选择题库，将提示题库中各种题型的数量，然后填写测试名称以及选择测试类型</p>
        <p>2. 修改不同题型配比的数量，总题数将改变，其中A3型、B型题默认每道题3个小题</p>
    </div>
        <div class="row">
            <div class="form-group col row">
                <label for="bank_id" class="col-sm-3 text-right">选择题库</label>
                <div class="col-sm-9">
                <select class="form-control" id="bankId">
                    <option value="" >请选择题库</option>
                    {% for b in banks %}
                    <option value="{{ b.bank_id }}" >
                    {{ b.bank_name|truncatechars:15 }}  ({{ b.total_question_num }}题) （A1型{{b.A1_choice_num}}题 | A2型{{b.A2_choice_num}}题 | A3型{{b.A3_choice_num}}题 | B型{{b.B_choice_num}}题）
                    </option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <input type="hidden" name="sponsorName" value="0">
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="competitionName" class="col-sm-3 text-right">测试名称</label>
                <div class="col-sm-9">
                    <input id="competitionName" type="text" class="form-control" placeholder="填写测试名称" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="kindType" class="col-sm-3 text-right">测试类型</label>
                <div class="col-sm-9">
                <select class="form-control" id="kindType">
                    <option value="0">日常练习</option>
                    <option value="1">出科测试</option>
                </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="A1ChoiceNum" class="col-sm-6 text-right">A1型题数</label>
                <div class="col-sm-6">
                    <input id="A1ChoiceNum" type="number" class="form-control" value="0" min="0" max="0" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="A2ChoiceNum" class="col-sm-6 text-right">A2型题数</label>
                <div class="col-sm-6">
                    <input id="A2ChoiceNum" type="number" class="form-control" value="0" min="0" max="0" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="A3ChoiceNum" class="col-sm-6 text-right">A3型题数</label>
                <div class="col-sm-6">
                    <input id="A3ChoiceNum" type="number" class="form-control" value="0" min="0" max="0" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="BChoiceNum" class="col-sm-6 text-right">B型题数</label>
                <div class="col-sm-6">
                    <input id="BChoiceNum" type="number" class="form-control" value="0" min="0" max="0" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="questionNum" class="col-sm-3 text-right">出题数量约</label>
                <div class="col-sm-9">
                    <input id="questionNum" type="txt" class="form-control" value="" readonly="" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="totalScore" class="col-sm-3 text-right">总分数</label>
                <div class="col-sm-9">
                    <input id="totalScore" type="number" class="form-control" value="100" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="copStartAt" class="col-sm-3 text-right">开始时间</label>
                <div class="col-sm-9">
                    <input id="copStartAt" type="date" class="form-control" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="copFinishAt" class="col-sm-3 text-right">过期时间(默认两年后)</label>
                <div class="col-sm-9">
                    <input id="copFinishAt" type="date" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="period" class="col-sm-3 text-right">测试时长</label>
                <div class="col-sm-9">
                    <input id="period" type="text" class="form-control" placeholder="完成测试时长，单位为分钟(min)" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="isOpen" class="col-sm-3 text-right">是否开放</label>
                <div class="col-sm-9">
                    <input id="isOpen" type="checkbox" />
                </div>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label for="ruleText" class="col-sm-3 col-form-label">测试说明(可选)</label>
            <textarea id="ruleText" class="form-control" placeholder="请输入测试说明，让参加测试者快速了解测试基本情况"></textarea>
        </div> -->
        <div class="text-center col-12">
            <a class="btn btn-info" href="/bs/set_game_index?uid={{ request.session.uid }}">返回列表</a>
            <button id="create_btn" class="btn btn-primary">新建测试</button>
        </div>
</div>
<script src="{% static 'js/currentTime.js' %}"></script>
<script type="text/javascript">
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $(document).ready(function () {
        $("#bankId").change(function(e) {
            $.ajax({
                url: '/api/get_a_bank',
                type: 'get',
                data: {
                    'bank_id': $("#bankId").val(),
                },
                dataType: 'json',
                success: function (res) {
                    $("#A1ChoiceNum").attr({"max": res.data.A1_choice_num});
                    $("#A2ChoiceNum").attr({"max": res.data.A2_choice_num});
                    $("#A3ChoiceNum").attr({"max": res.data.A3_choice_num});
                    $("#BChoiceNum").attr({"max": res.data.B_choice_num});
                    $("#A1ChoiceNum").val("0");
                    $("#A2ChoiceNum").val("0");
                    $("#A3ChoiceNum").val("0");
                    $("#BChoiceNum").val("0");
                }
            })
        });

        $("#A1ChoiceNum").change(function(e) {
            $("#questionNum").val(parseInt($("#A1ChoiceNum").val()) + parseInt($("#A2ChoiceNum").val()) + parseInt($("#A3ChoiceNum").val()) * 3 + parseInt($("#BChoiceNum").val()) * 3);
        });

        $("#A2ChoiceNum").change(function(e) {
            $("#questionNum").val(parseInt($("#A1ChoiceNum").val()) + parseInt($("#A2ChoiceNum").val()) + parseInt($("#A3ChoiceNum").val()) * 3 + parseInt($("#BChoiceNum").val()) * 3);
        });

        $("#A3ChoiceNum").change(function(e) {
            $("#questionNum").val(parseInt($("#A1ChoiceNum").val()) + parseInt($("#A2ChoiceNum").val()) + parseInt($("#A3ChoiceNum").val()) * 3 + parseInt($("#BChoiceNum").val()) * 3);
        });

        $("#BChoiceNum").change(function(e) {
            $("#questionNum").val(parseInt($("#A1ChoiceNum").val()) + parseInt($("#A2ChoiceNum").val()) + parseInt($("#A3ChoiceNum").val()) * 3 + parseInt($("#BChoiceNum").val()) * 3);
        });


        var curTime = CurentTime();
        var expiredTime = ExpiredTime();
        $('#copStartAt').val(curTime);
        $('#copFinishAt').val(expiredTime);

        var choicedBankType;  // 存放选择的题库类型
        var choicedBankId;  //存放选择的题库ID
        var responseTypes = {{ bank_types|safe }};

        $('#create_btn').click(function () {
            var choicedBank = $("#bankId").val();
            if(!choicedBank) {
                alert('请选择一个题库');
                return false;
            }

            var competitionName = $('#competitionName').val();
            if(!competitionName) {
                alert('请输入测试名称');
                return false;
            }

            var kindType = $('#kindType').val();
            if(!kindType) {
                alert('请输入测试名称');
                return false;
            }

            var sponsorName = $('#sponsorName').val();

            var questionNum = $('#questionNum').val();
            if(!questionNum){
                alert('请设置出题数量');
                return false;
            }
            var totalScore = $('#totalScore').val();
            if(!totalScore) {
                alert('请设置测试总分');
                return false;
            }

            var startedAt = $('#copStartAt').val();
            if(!startedAt){
                alert('请设置测试开放时间');
                return false;
            }

            var finishedAt = $('#copFinishAt').val();
            if(!finishedAt || finishedAt <= startedAt) {
                alert('测试失效时间必须大于开始时间');
                return false;
            }
            // $('#switch-success').is(':checked')
            var isOpen = $('#isOpen').is(':checked');

            var period = $('#period').val();

            var accountId = '{{ account_id|safe }}';
            var uid = '{{ request.session.uid }}';
            var data = {'is_open': isOpen,
                    'uid': uid,
                    'account_id': accountId,
                    'bank_id': choicedBank,
                    'kind_name': competitionName,
                    'kind_type': kindType,
                    'sponsor_name': sponsorName,
                    'question_num': questionNum,
                    'total_score': totalScore,
                    'cop_startat': startedAt,
                    'cop_finishat': finishedAt,
                    'period': period,
                    
                };
                
            $.ajax({
                url: '/api/banks/set',
                type: 'post',
                data: {
                    'uid': uid,
                    'account_id': accountId,
                    'bank_id': choicedBank,
                    'kind_name': competitionName,
                    'kind_type': kindType,
                    'sponsor_name': sponsorName,
                    'question_num': questionNum,
                    'A1_choice_num': $("#A1ChoiceNum").val(),
                    'A2_choice_num': $("#A2ChoiceNum").val(),
                    'A3_choice_num': $("#A3ChoiceNum").val(),
                    'B_choice_num': $("#BChoiceNum").val(),
                    'total_score': totalScore,
                    'cop_startat': startedAt,
                    'cop_finishat': finishedAt,
                    'period': period,
                    'is_open': isOpen,
                },
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    if(res.status === 200) {
                        window.location.href = '/bs/set_game_index?uid={{ request.session.uid }}&created=1';
                    }
                }
            })
        });
    });
</script>
{% endblock %}