{% extends 'admin_base.html' %}
{% load staticfiles %}
{% block title %}配置比赛{% endblock %}
{% block content %}
<style>

</style>
 <!-- style="background: url(/static/images/form-bg.jpg) no-repeat center top;" -->
<div class="container">
    <h5 class="text-center">创建测试</h5>
        <div class="row">
            <div class="form-group col row">
                <label for="bank_id" class="col-sm-3 text-right">选择题库</label>
                <div class="col-sm-9">
                <select class="form-control" id="bank_id">
                    {% for b in banks %}
                    <option value="{{ b.bank_id }}">
                    {{ b.bank_name|truncatechars:15 }}  ({{ b.total_question_num }}题)
                    </option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="form-group col row">
                <label for="sponsorName" class="col-sm-3 text-right">出题科室</label>
                <div class="col-sm-9">
                    <select class="form-control" id="sponsorName">
                        <option value="0">感染科</option>
                        <option value="1">内科</option>
                        <option value="2">外科</option>
                        <option value="3">儿科</option>
                        <option value="4">妇科</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="competitionName" class="col-sm-3 text-right">测试名称</label>
                <div class="col-sm-9">
                    <input id="competitionName" type="text" class="form-control" placeholder="填写测试名称" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="kindType" class="col-sm-3 text-right">测试类型</label>
                <div class="col-sm-9">
                <select class="form-control" id="kindType">
                    <option value="0">日常练习</option>
                    <option value="1">出科测试</option>
                </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="questionNum" class="col-sm-3 text-right">出题数量</label>
                <div class="col-sm-9">
                    <input id="questionNum" type="number" class="form-control" value="10" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="totalScore" class="col-sm-3 text-right">总分数</label>
                <div class="col-sm-9">
                    <input id="totalScore" type="number" class="form-control" value="100" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="copStartAt" class="col-sm-3 text-right">开始时间</label>
                <div class="col-sm-9">
                    <input id="copStartAt" type="date" class="form-control" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="copFinishAt" class="col-sm-3 text-right">过期时间(默认两年后)</label>
                <div class="col-sm-9">
                    <input id="copFinishAt" type="date" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col row">
                <label for="period" class="col-sm-3 text-right">测试时长</label>
                <div class="col-sm-9">
                    <input id="period" type="text" class="form-control" placeholder="完成测试时长，单位为分钟(min)" />
                </div>
            </div>
            <div class="form-group col row">
                <label for="isOpen" class="col-sm-3 text-right">是否开放</label>
                <div class="col-sm-9">
                    <input id="isOpen" type="checkbox" />
                </div>
            </div>
        </div>
        <!-- <div class="form-group row">
            <label for="ruleText" class="col-sm-3 col-form-label">测试说明(可选)</label>
            <textarea id="ruleText" class="form-control" placeholder="请输入测试说明，让参加测试者快速了解测试基本情况"></textarea>
        </div> -->
        <div class="text-center col-12">
            <a class="btn btn-info" href="/bs/set_game_index?uid={{ request.session.uid }}">返回列表</a>
            <button id="create_btn" class="btn btn-primary">新建测试</button>
        </div>
</div>
<script src="{% static 'js/currentTime.js' %}"></script>
<script type="text/javascript">
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    $(document).ready(function () {
        var curTime = CurentTime();
        var expiredTime = ExpiredTime();
        $('#copStartAt').val(curTime);
        $('#copFinishAt').val(expiredTime);

        var choicedBankType;  // 存放选择的题库类型
        var choicedBankId;  //存放选择的题库ID
        var responseTypes = {{ bank_types|safe }};

        $('#create_btn').click(function () {
            var choicedBank = $("#bank_id").val();
            if(!choicedBank) {
                alert('请选择一个题库');
                return false;
            }

            var competitionName = $('#competitionName').val();
            if(!competitionName) {
                alert('请输入测试名称');
                return false;
            }

            var kindType = $('#kindType').val();
            if(!kindType) {
                alert('请输入测试名称');
                return false;
            }

            var sponsorName = $('#sponsorName').val();
            if(!sponsorName){
                alert('请输入科室名称');
                return false;
            }

            var questionNum = $('#questionNum').val();
            if(!questionNum){
                alert('请设置出题数量');
                return false;
            }
            var totalScore = $('#totalScore').val();
            if(!totalScore) {
                alert('请设置测试总分');
                return false;
            }

            var startedAt = $('#copStartAt').val();
            if(!startedAt){
                alert('请设置测试开放时间');
                return false;
            }

            var finishedAt = $('#copFinishAt').val();
            if(!finishedAt || finishedAt <= startedAt) {
                alert('测试失效时间必须大于开始时间');
                return false;
            }
            // $('#switch-success').is(':checked')
            var isOpen = $('#isOpen').is(':checked');

            var period = $('#period').val();

            var accountId = '{{ account_id|safe }}';
            var uid = '{{ request.session.uid }}';
            var data = {'is_open': isOpen,
                    'uid': uid,
                    'account_id': accountId,
                    'bank_id': choicedBank,
                    'kind_name': competitionName,
                    'kind_type': kindType,
                    'sponsor_name': sponsorName,
                    'question_num': questionNum,
                    'total_score': totalScore,
                    'cop_startat': startedAt,
                    'cop_finishat': finishedAt,
                    'period': period,
                    
                };
                
            $.ajax({
                url: '/api/banks/set',
                type: 'post',
                data: {
                    'uid': uid,
                    'account_id': accountId,
                    'bank_id': choicedBank,
                    'kind_name': competitionName,
                    'kind_type': kindType,
                    'sponsor_name': sponsorName,
                    'question_num': questionNum,
                    'total_score': totalScore,
                    'cop_startat': startedAt,
                    'cop_finishat': finishedAt,
                    'period': period,
                    'is_open': isOpen,
                },
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    if(res.status === 200) {
                        window.location.href = '/bs/set_game_index?uid={{ request.session.uid }}&created=1';
                    }
                }
            })
        });
    });
</script>
{% endblock %}