{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/jquery.PrintArea.js' %}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>

      <!--bootstrap核心js-->
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <style>
        .cate {
            padding-bottom: 20px;
        }
        .modal-dialog {
            padding-top : 200px;
        }
    </style>
  </head>
  <body>
  <div class="main-container">
    <!-- <p>{{request.session.usertype}}</p>
    <p>{{request.session.uid}}</p> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">科室轮训测试</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">

            {% if 33 == request.session.usertype %}
              <li class="nav-item active">
                <a class="nav-link" href="/index{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}">首页<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bs/set_bank_index{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}">题库管理</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bs/set_game_index{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}">测试管理</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bs/qa_history{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}" tabindex="-1">测试历史</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/normal_user_list{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}" tabindex="-1">用户管理</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/biz{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}" tabindex="-1">测试历史</a>
              </li> -->
            {% elif 22 == request.session.usertype  %}
              <li class="nav-item active">
                <a class="nav-link" href="/index{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}">选择测试<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/bs/rank{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}">测试历史</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/biz{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}" tabindex="-1">个人数据</a>
              </li> -->
            {% endif %}
            {% if request.session.uid %}
            <li class="nav-item dropdown" class="my-2 my-lg-0">
              <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if request.session.uid %}{{ request.session.displayname }}医生{% else %}登录{% endif %}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown07">
                  <a class="dropdown-item" href="/logout">注销</a>
                  <!-- <a class="dropdown-item" id="resetPassword">修改密码</a> -->
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="top-container col-md-12" >

    </div>

  <div class="modal" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">重置密码</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="resetId" >邮箱</label>
                <input type="text" class="form-control" id="resetId" placeholder="hugo.zhang@example.com">
            </div>
            <div class="form-group">
                <label for="resetNewPassword" >新密码</label>
                <input type="password" class="form-control" id="resetNewPassword" placeholder="p@ssw0rd123">
            </div>
            <div class="form-group">
                <label for="resetNewPasswordAgain">再次输入密码</label>
                <input type="password" class="form-control" id="resetNewPasswordAgain" placeholder="p@ssw0rd123">
            </div>
            <div class="form-group">
                <p style="color: red">邮件发送后，请在三十分钟之内登录邮箱确认!</p>
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="resetPost">发送邮件</button>
      </div>
    </div>
  </div>
  </div>
  <!-- loading -->
    <div class="modal fade" id="resetPasswordLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">提示</h4>
                </div>
                <div class="modal-body">
                    <h1>正在发送邮件中...</h1>
                </div>
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
    <!-- <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark" style="margin-top: 20px"> -->
      <!-- <a class="navbar-brand" href="#" style="font-size: 16px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M1.75 3A1.75 1.75 0 000 4.75v14c0 .966.784 1.75 1.75 1.75h20.5A1.75 1.75 0 0024 18.75v-14A1.75 1.75 0 0022.25 3H1.75zM1.5 4.75a.25.25 0 01.25-.25h20.5a.25.25 0 01.25.25v.852l-10.36 7a.25.25 0 01-.28 0l-10.36-7V4.75zm0 2.662V18.75c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V7.412l-9.52 6.433c-.592.4-1.368.4-1.96 0L1.5 7.412z"></path></svg>&nbsp; &nbsp; shengling_2005@163.com</a> -->
    <!-- </nav> -->
  </div>
  {% block js %} {% endblock %}
  <script type="text/javascript">
    $(function(){
      // refreshVcode('signin');
        $(".login").mouseover(function(){
                $(".sub").show();
            }).mouseout(function(){
                $(".sub").hide();
            })
        })
</script>
    <script>
      $('#resetPassword').click(function () {
          resetPassword()
      });

      $('#searchCom').click(function () {
          window.location.href = '/bs/search?uid={% if request.session.uid %}{{ request.session.uid.uid }}{% endif %}&keyword=' + $('#searchKeyWord').val();
          return false;
      });
  </script>
  <script>
      function getCookie(c_name)
      {
          if (document.cookie.length>0)
          {
              c_start=document.cookie.indexOf(c_name + "=");
              if (c_start!==-1)
              {
                  c_start=c_start + c_name.length+1;
                  c_end=document.cookie.indexOf(";",c_start);
                  if (c_end===-1) c_end=document.cookie.length;
                  return unescape(document.cookie.substring(c_start,c_end))
              }
          }
          return ""
      }

      function setCookie(c_name,value,expiredays)
      {
          var exdate=new Date();
          exdate.setDate(exdate.getDate()+expiredays);
          document.cookie=c_name+ "=" +escape(value)+
              ((expiredays==null) ? "" : "; expires="+exdate.toGMTString())
      }

      function checkEmail(email) {
          return email.match('^\\w+([-+.]\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$')
      }

      function checkPassword(password) {
          return password.match('^\\w{6,18}$');
      }

      function  resetPassword() {
          $('#signInModalNormal').modal('hide');
                  $('#resetPasswordModal').modal('show');
                  $('#resetPost').click(function () {
                      var email = $('#resetId').val();
                      var newPassword = $('#resetNewPassword').val();
                      var newPasswordAgain = $('#resetNewPasswordAgain').val();
                      if(!checkEmail(email)) {
                          $('#resetId').val('');
                          $('#resetId').attr('placeholder', '邮件格式错误');
                          $('#resetId').css('border', '1px solid red');
                          return false;
                      }else{
                          $('#resetId').css('border', '1px solid #C1FFC1');
                      }
                      if(!(newPassword === newPasswordAgain)){
                          $('#resetNewPasswordAgain').val('');
                          $('#resetNewPasswordAgain').attr('placeholder', '两次输入密码不一致');
                          $('#resetNewPassword').css('border', '1px solid red');
                          $('#resetNewPasswordAgain').css('border', '1px solid red');
                          return false;
                      }else{
                          $('#resetNewPassword').css('border', '1px solid #C1FFC1');
                          $('#resetNewPasswordAgain').css('border', '1px solid #C1FFC1');
                      }
                      $('#resetPasswordLoading').modal('show');
                      $.ajax({
                          url: '/api/resetpasswd',
                          type: 'post',
                          data: {
                              'email': email,
                              'new_password': newPassword,
                              'new_password_again': newPasswordAgain
                          },
                          dataType: 'json',
                          success: function (res) {
                              if(res.status === 200) {
                                  alert('发送成功!');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                              else if(res.status === 300005) {
                                  $('#sendMailLoading').modal('hide');
                                  alert('您已发送过邮件，请稍后再试');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                              else if(res.status === 300006) {
                                  alert('邮件发送失败');
                                  window.location.href = '/index' + {% if request.session.uid %} '?uid={{ request.session.uid|safe }}'{% else %} '' {% endif %}
                              }
                          }
                      });
                      return false;
                  })
      };
      $('#home').click(function () {
          window.location.href = '/index{% if request.session.uid %}?uid={{ request.session.uid }}{% else %}{% endif %}';
      })
  </script>
  </body>
</html>


