{% extends '../base.html' %}
{% block title %}开始答题{% endblock %}
{% block content %}
    <div class="main-content container" style="margin-bottom: 50px; padding: 0px;">
        <!-- <div class="position toInWhere">
            <b>当前位置：</b><span>
                <a onclick="history.back(-1)">测试信息</a>
            </span>&nbsp;&gt;&nbsp;<span>{{ kind_name }}</span>
        </div> -->
        <div class="card" style="margin-top: 10px;">
          <div class="card-header">
            <span style="font-size: 15px;">{{ kind_name }}</span>
            <div class="process" style="float: right">
                <!-- <span class="n2">倒计时：</span> -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M10.25 0a.75.75 0 000 1.5h1v1.278a9.955 9.955 0 00-5.635 2.276L4.28 3.72a.75.75 0 00-1.06 1.06l1.315 1.316A9.962 9.962 0 002 12.75c0 5.523 4.477 10 10 10s10-4.477 10-10a9.962 9.962 0 00-2.535-6.654L20.78 4.78a.75.75 0 00-1.06-1.06l-1.334 1.334a9.955 9.955 0 00-5.636-2.276V1.5h1a.75.75 0 000-1.5h-3.5zM12 21.25a8.5 8.5 0 100-17 8.5 8.5 0 000 17zm4.03-12.53a.75.75 0 010 1.06l-2.381 2.382a1.75 1.75 0 11-1.06-1.06l2.38-2.382a.75.75 0 011.061 0z"></path></svg>
                <span class="n2" style="color:#e4653d" id="timetext">{% if period_time %}{{ period_time }}分00秒{% else %}无限制{% endif %}</span>
            </div>
          </div>
          <div class="card-body">
            <input type="hidden" id="questionPk">
            <p class="lead">
                <label id="question" style="font-size: 15px;"></label>
            </p>
            <div id="choiceBox" class="checkbox" style="border: #31b0d5; font-size:15px;">
            </div>
            <div id="fullinBox" class="form-inline" style="text-align:center">
                <input type="text" class="form-control" id="answerF" placeholder="请输入答案"  style="width:400px" />
                <input type="hidden" id="answerPk" />
            </div>
          </div>
          <div class="card-footer text-muted">
            <div class="row">
                <div id="preQuestion" class="btn btn-primary">后退</div>
                <div id="nextQuestion" class="btn btn-primary" style="margin-left: 20px;">前进</div>
                <input class="btn btn-danger" type="submit" style="margin-left: 20px;" id="answerSubmit" value="交卷" />
            </div>
          </div>
        </div>
        </div>
</div>
    <script type="text/javascript">
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });
    var currentPage = 1;
    var hasPrevious = false;
    var hasNext = false;
    var questionNum = 0;
    var response;
    var answerDict;
    var questionPkArr = [];
      $(document).ready(function () {
          if({{ period_time|safe }}) {
              startTimer1();
          }
          // $('#loadingModal').modal('show');
          uid = '{{ user_info.uid|safe }}';
          kind_id = '{{ kind_id|safe }}';
          $.ajax({
              url: '/api/questions',
              type: 'get',
              data: {
                  'uid': uid,
                  'kind_id': kind_id
              },
              dataType: 'json',
              success: function (res) {
                  response = res;
                  questionNum = res.data.kind_info.question_num;
                  answerDict = new Array(questionNum);
                  for(var i=0; i < questionNum; i++){
                      if(response.data.questions[i].qtype === 'choice') {
                          answerDict['c_' + response.data.questions[i].pk] = '';
                      }else{
                          answerDict['f_' + response.data.questions[i].pk] = '';
                      }
                  }
                  // 取答案中的第一个值
                  if(res.data.questions[0].qtype === 'choice') {            // 选择题的情况
                      multiChoiceStr = "";
                      multiChoice = res.data.questions[0].multiChoice;
                      tItems = res.data.questions[0].items.split("|");
                      questionPkArr[currentPage-1] = res.data.questions[0].pk;
                      if(!multiChoice) {
                        tHtml = buildRadioSelectHtml(tItems, res.data.questions[0].pk);
                        $("#questionPk").val("itemRadios_" + res.data.questions[0].pk);
                      } else {
                        multiChoiceStr = "【多选题】"
                        tHtml = buildCheckboxSelectHtml(tItems, res.data.questions[0].pk);
                        $("#questionPk").val("itemCheckboxs_" + res.data.questions[0].pk);
                      }
                      $('#question').html("第"+currentPage+"题：" + res.data.questions[0].question + multiChoiceStr);  // currentPage - 1
                      $('#choiceBox').html(tHtml);
                      
                      hasNext = (currentPage < questionNum);
                      $('#fullinBox').hide();
                  } else{                                                    // 填空题的情况
                      $('#question').html(res.data.questions[0].question.replace('##', '______'));
                      $('#answerPk').val('f_' + res.data.questions[0].pk);
                      hasNext = (currentPage < questionNum);
                      $('#choiceBox').hide();
                  }
              }
          });
          // 点击前一个的情况
          $('#preQuestion').click(function () {
              if(hasPrevious){
                var selectVal = [];
                $("input[name='" + $("#questionPk").val() + "']:checked").each(function(e) {
                    selectVal.push($(this).val());
                });
                answerDict["c_"+$("#questionPk").val().split("_")[1]] = selectVal;
                console.log(answerDict);

                  removeChecked();
                  clearInputData();
                  currentPage = currentPage - 1;

                  console.log(answerDict["c_" + questionPkArr[currentPage-1]]);

                  if(response.data.questions[currentPage - 1].qtype === 'choice') {

                      $('#choiceBox').show();
                      multiChoiceStr = "";
                      multiChoice = response.data.questions[currentPage - 1].multiChoice;

                      var pk = response.data.questions[currentPage - 1].pk;
                      questionPkArr[currentPage-1] = pk;

                      tItems = response.data.questions[currentPage - 1].items.split("|");
                      if(!multiChoice) {
                        tHtml = buildRadioSelectHtml(tItems, pk, answerDict["c_" + questionPkArr[currentPage-1]]);
                        $("#questionPk").val("itemRadios_" + pk);
                      } else {
                        multiChoiceStr = "【多选题】"
                        tHtml = buildCheckboxSelectHtml(tItems, pk, answerDict["c_" + questionPkArr[currentPage-1]]);
                        $("#questionPk").val("itemCheckboxs_" + pk);
                      }
                      $('#question').html("第"+currentPage+"题：" + response.data.questions[currentPage - 1].question + multiChoiceStr);
                      $('#choiceBox').html(tHtml);

                      $('#fullinBox').hide();
                      hasPrevious = currentPage > 1;
                      hasNext = currentPage < questionNum
                  }else{
                      var pk2 = response.data.questions[currentPage - 1].pk;
                      $('#fullinBox').show();
                      $('#question').html(response.data.questions[currentPage - 1].question.replace('##', '______'));
                      $('#answerPk').val(response.data.questions[currentPage - 1].pk);
                      if(answerDict['f_' + pk2]) {
                          $('#answerF').val(answerDict['f_' + pk2]);
                      }
                      $('#choiceBox').hide();
                      hasPrevious = currentPage > 1;
                      hasNext = currentPage < questionNum
                  }
              }else{
                  alert('没有题目了');
              }
          });
          // 点击后一个的情况
          $('#nextQuestion').click(function () {
              if(hasNext){
                var selectVal = [];
                $("input[name='" + $("#questionPk").val() + "']:checked").each(function(e) {
                    selectVal.push($(this).val());
                });
                answerDict["c_"+$("#questionPk").val().split("_")[1]] = selectVal;
                console.log(answerDict);

                  removeChecked();
                  clearInputData();
                  currentPage = currentPage + 1;
                  console.log(answerDict["c_" + questionPkArr[currentPage]]);

                  if(response.data.questions[currentPage - 1].qtype === 'choice') {
                      $('#choiceBox').show();
                      multiChoiceStr = "";
                      multiChoice = response.data.questions[currentPage - 1].multiChoice;
                      // console.log(response.data.questions[currentPage - 1].answer);
                      var pk = response.data.questions[currentPage - 1].pk;
                      questionPkArr[currentPage-1] = pk;

                      tItems = response.data.questions[currentPage - 1].items.split("|");

                      if(!multiChoice) {
                        tHtml = buildRadioSelectHtml(tItems, pk, answerDict["c_" + questionPkArr[currentPage-1]]);
                        $("#questionPk").val("itemRadios_" + pk);
                      } else {
                        multiChoiceStr = "【多选题】"
                        tHtml = buildCheckboxSelectHtml(tItems, pk, answerDict["c_" + questionPkArr[currentPage-1]]);
                        $("#questionPk").val("itemCheckboxs_" + pk);
                      }
                      $('#question').html("第"+currentPage+"题：" + response.data.questions[currentPage - 1].question + multiChoiceStr);
                      $('#choiceBox').html(tHtml);
                      $('#fullinBox').hide();
                      hasPrevious = currentPage > 1;
                      hasNext = currentPage < questionNum
                  }else{
                      var pk1 = response.data.questions[currentPage - 1].pk;
                      $('#fullinBox').show();
                      $('#question').html(response.data.questions[currentPage - 1].question.replace('##', '______'));
                      $('#answerPk').val(response.data.questions[currentPage - 1].pk);
                      if(answerDict['f_' + pk1]) {
                          $('#answerF').val(answerDict['f_' + pk1]);
                      }
                      $('#choiceBox').hide();
                      hasPrevious = currentPage > 1;
                      hasNext = currentPage < questionNum
                  }
              }else{
                  alert('没有题目了');
              }
          });
          
          $('#answerF').on('change', function () {
              var pk = response.data.questions[currentPage - 1].pk;
              var vl = $('#answerF').val().trim();
              if(vl !== ''){
                  answerDict['f_' + pk] = vl;
              }
          });
          // 提交答案
         $('#answerSubmit').click(function () {
            var selectVal = [];
            $("input[name='" + $("#questionPk").val() + "']:checked").each(function(e) {
                selectVal.push($(this).val());
            });
            answerDict["c_"+$("#questionPk").val().split("_")[1]] = selectVal;
            console.log(answerDict);

             if(window.confirm("确认提交答案吗?")) {
                 if({{ period_time|safe }}) {
                     stopTimer1();
                 }
                 var answer = "";
                 for (var key in answerDict) {
                     if (!answer) {
                         answer = String(key) + "|" + answerDict[key] + "#";
                     }else{
                         answer += String(key) + "|" + answerDict[key] + "#";
                     }
                 }
                 $.ajax({
                     url: '/api/answer',
                     type: 'post',
                     data: {
                         'qa_id': response.data.qa_id,
                         'uid': response.data.user_info.uid,
                         'kind_id': kind_id,
                         'answer': answer
                     },
                     dataType: 'json',
                     success: function (res) {
                         if(res.status === 200) {
                             window.location.href = "/bs/result?uid=" + res.data.user_info.uid + "&kind_id=" + res.data.kind_id + "&qa_id=" + res.data.qa_id;
                         }else{
                             alert('提交失败');
                         }
                     }
                 })
             }else {}
         });

        $(document)
          // .on('click', '.choiceItemRadio', function (e) {
          //   console.log($(this).attr("id"));
          //   var tdata = $(this).attr("id").split("_");
          //   // var pk = $('#itemRadioPk').html();
          //   answerDict["c_"+tdata[1]] = $(this).val();
          //   console.log(answerDict);
          // })
          // .on('click', '.choiceItemCheckbox', function (e) {
          //   console.log($(this).attr("id"));
          //   var tdata = $(this).attr("id").split("_");
          //   var tCheckAnswer = answerDict["c_"+tdata[1]];
          //   if(tCheckAnswer.indexOf($(this).val()) !== -1) {

          //   }
          //   if(answerDict["c_"+tdata[1]] == "") {
          //     answerDict["c_"+tdata[1]] = $(this).val()
          //   } else {
          //     answerDict["c_"+tdata[1]] += "|" + $(this).val();
          //   }
          //   console.log(answerDict);
          // });
      });

    function clearInputData() {
        $('#answerF').val('');
    }

    function removeChecked() {
        $('#itemRadio1').prop('checked', false);
        $('#itemRadio2').prop('checked', false);
        $('#itemRadio3').prop('checked', false);
        $('#itemRadio4').prop('checked', false);
    }

    function buildRadioSelectHtml(tItems, pk, selectArr="") {
      tHtml = "";
      var anArr = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q"]
      for (var i = 0; i < tItems.length; i++) {
        var sel = (i == selectArr[0])?"checked":"";
        tHtml += "<div class='form-check'><label class='form-check-label'>";
            tHtml += "<input type='radio' class='form-check-input choiceItemRadio' name='itemRadios_" + pk + "' id='itemRadio_" + pk + "_"+i+"' value='"+i+"' " + sel + ">";
            tHtml += "&nbsp;" + anArr[i]+". "+tItems[i];
        tHtml += "</label></div>";
      }
      return tHtml;
    }

    function buildCheckboxSelectHtml(tItems, pk, selectArr="") {
      tHtml = "";
      var anArr = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q"]
      for (var i = 0; i < tItems.length; i++) {
        var sel = "";
        for (var j = 0; j < selectArr.length; j++) {
          if (i == selectArr[j]) {
            sel = "checked";
          }
        }
        tHtml += "<div class='form-check'><label class='form-check-label'>";
            tHtml += "<input type='checkbox' class='form-check-input choiceItemCheckbox' name='itemCheckboxs_" + pk + "' class='choiceItemCheckbox' id='itemCheckbox_" + pk + "_"+i+"' value='"+i+"' " + sel + ">";
            tHtml += "&nbsp;"+anArr[i]+". "+tItems[i];
        tHtml += "</label></div>";
      }
      return tHtml;
    }

    /// 初始化: 248分钟 = 4 小时 7 分钟 59 秒 1000 毫秒
    var hour,minute,second;//时 分 秒
    var periodTime = {{ period_time|safe }};  // 后台配置时间(单位：min)
    hour = parseInt(periodTime / 60);
    minute = periodTime - (hour * 60) - 1;
    second = 60;
    var int;
    var notice = false;

    totalSeconds = periodTime * 60;  // 总秒数

    function startTimer1() {
        int = setInterval(timer1, 100);
    }

    function timer1() {
        totalSeconds -= 0.1;
        if(totalSeconds<=0){
            stopTimer1();
        }else {
            hour = parseInt(totalSeconds / 3600);
            minute = parseInt((totalSeconds - hour * 3600) / 60);
            second = totalSeconds - hour * 3600 - minute * 60;
        }
        if(totalSeconds<=300 && !notice){
            notice = confirm("您只剩下不到五分钟的答题时间，超时将不计入排行榜。");
        }
        if(totalSeconds < 0){
            notice = confirm("您已超时，考试成绩不计入排行榜。");
            window.history.back(-1);
        }
        $("#timetext").text(hour+'时'+minute+'分'+Math.ceil(second)+'秒');
    }

    function stopTimer1() {
        window.clearInterval(int);
    }
    </script>
{% endblock %}