{% extends '../base.html' %}
{% block title %}比赛列表{% endblock %}
{% block content %}
<div class="main-content container">
    <div class="position toInWhere">
        <b>当前位置：</b><span>
        <a onclick="history.back(-1)">测试列表</a>
        </span>&nbsp;&gt;&nbsp;<span>测试详情</span>
    </div>
    <div class="inner-content">
        <div class="xxzxBox">
            <div class="tab-content bd">
                <div role="tabpanel" class="active tab-pane">
                    <ul class="ul_zxlist" id="column_ul">
                        {% if not kinds %}
                            <div style="text-align:center">
                                <img src="/static/images/no-bs.png">
                            </div>
                        {% else %}
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th scope="col">编号</th>
                              <th scope="col">科室部门</th>
                              <th scope="col">测试名称</th>
                              <th scope="col">创建时间</th>
                              <th scope="col">结束时间</th>
                              <th scope="col">热度</th>
                              <th scope="col">操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for kind in kinds %}
                            <tr>
                              <th scope="row">{{ forloop.counter }}</th>
                              <td>{{ kind.sponsor_name }}</td>
                              <td>{{ kind.kind_name }}</td>
                              <td>{{ kind.created_at|date:"Y-m-d" }}</td>
                              <td>{{ kind.cop_finishat|date:"Y-m-d" }}</td>
                              <td>{{ kind.total_partin_num }}</td>
                              <td><a class="btn btn-primary" href="{% url 'bs:index' %}?uid={{ request.session.uid }}&kind_id={{kind.kind_id}}">点击参加测试</a></td>
                            </tr>
                            {% endfor %}
                             </tbody>
                        </table>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}