{% extends '../base.html' %}
{% block title %}比赛列表{% endblock %}
{% block content %}
<div class="main-content container">
    <div class="position toInWhere">
        <b>当前位置：</b><span>
        <a onclick="history.back(-1)">测试列表</a>
        </span>&nbsp;&gt;&nbsp;<span>测试详情</span>
    </div>
    <div class="inner-content">
      {% for kind in kinds %}
      <div class="card" style="margin-bottom: 20px;">
        <div class="card-header"><h6>测试名称: {{ kind.sponsor_name }} —— {{ kind.kind_name }}</h6></div>
        <div class="card-body">
          <!-- <h6>科室部门: {{ kind.sponsor_name }}</h6> -->
          <!-- <h6>测试名称: {{ kind.kind_name }}</h6> -->
          <!-- <h6>创建时间: {{ kind.created_at|date:"Y-m-d" }}</h6> -->
          <h6>截止日期: {{ kind.cop_finishat|date:"Y-m-d" }}</h6>
          <h6>已完成人数: {{ kind.total_partin_num }}</h6>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="{% url 'bs:index' %}?uid={{ request.session.uid }}&kind_id={{kind.kind_id}}">点击参加测试</a>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}