{% extends 'base.html' %}
{% block title %}排行榜{% endblock %}
{% block content %}

<div class="main-content container">
        <div class="position toInWhere">
            <b>当前位置：</b><span>测试历史</span>
        </div>
        <div class="row">
            <div id="toolbar">
                <button class="btn btn-success" id="export-score-report-btn">导出测试情况</button>
            </div>
            <table id="test-history-list" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th data-field="" checkbox="true">

                        </th>
                        <th data-field="">
                            序号
                        </th>
                        <th data-field="sponsor_name" data-sortable="true">
                            科室
                        </th>
                        <th data-field="name" data-sortable="true">
                            学员姓名
                        </th>
                        <th data-field="trainee_type" data-sortable="true">
                            学员类型
                        </th>
                        <th data-field="kind_name" data-sortable="true">
                            测试名称
                        </th>
                        <th data-field="result_filed" data-sortable="true" data-formatter="resultFormatter">
                            答题情况
                        </th>
                        <th data-field="score" data-sortable="true">
                            得分
                        </th>
                        <th data-field="time" data-sortable="true">
                            耗时
                        </th>
                        <th data-field="finished_time" data-sortable="true">
                            完成时间
                        </th>
                      <th data-field="uid" data-formatter="actionCol" data-events="actionEvents">
                          操作
                      </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
        $(".qa_item").click(function(e) {
            uid = $(this).val().split("_")[0];
            qa_id = $(this).val().split("_")[1];
            kind_id = $(this).val().split("_")[2];
            window.location.href = '/bs/qa_info_page?uid='+uid+'&qa_id='+qa_id+'&kind_id='+kind_id;
        });

        $('#test-history-list').bootstrapTable({
            method: 'get', 
            dataType: "json",
            search: "true",
            url: "/api/qa_history_data",
            pagination:"true",
            pageList: [10, 20], 
            pageSize: 10,
            pageNumber: 1,
            toolbar:"#toolbar",
            showExport: true,          //是否显示导出
            showColumns: "true",           
            exportDataType: "basic",              //basic', 'all', 'selected'.
            queryParams: function(params) {
                var temp = {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };
                return temp;
            },
            // clickToSelect: true,
            columns: [{  
                        checkbox: true  
                    },{  
                        title: '序号',
                        formatter: function (value, row, index) {  
                            return index+1;  
                        }  
                    }],
            responseHandler: function (res) {
                // console.log(res.data.qaData);
                return res.data.qaData;
            },
        });
    })
    function resultFormatter(value, row, index) {
        return [
            row.total_num+'题/对'+row.correct_num+'/错'+row.incorrect_num
        ].join('');
    }

    function actionCol(value, row, index) {
        return [
            "<a class='btn btn-primary btn-sm qa_item'>查看答卷</a>"
        ].join('');
    }

    window.actionEvents = {
        'click .qa_item': function(e, value, row, index) {
            window.location.href = '/bs/qa_info_page?uid='+row.uid+'&qa_id='+row.qa_id+'&kind_id='+row.kind_id;
        },
    }

</script>
{% endblock %}