{% extends 'admin_base.html' %}
{% block title %}测试历史{% endblock %}
{% block content %}

<div class="container">
        <div class="row">
            <div id="toolbar">
                <!-- <button class="btn btn-success" id="export-history-btn">导出测试情况</button> -->
                <input type="hidden" id="user-src" value="{{user_src}}">
            </div>
            <table id="test-history-list" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th data-field="" checkbox="true">

                        </th>
                        <th data-field="">
                            序号
                        </th>
                        <th data-field="sponsor_name" data-sortable="true">
                            科室
                        </th>
                        <th data-field="name" data-sortable="true">
                            学员姓名
                        </th>
                        <th data-field="trainee_type" data-sortable="true">
                            学员类型
                        </th>
                        <th data-field="kind_name" data-sortable="true">
                            测试名称
                        </th>
                        <th data-field="total_num" data-sortable="true">
                            题量
                        </th>
                        <th data-field="correct_num" data-sortable="true">
                            对
                        </th>
                        <th data-field="incorrect_num" data-sortable="true">
                            错
                        </th>
                        <th data-field="score" data-sortable="true">
                            得分
                        </th>
                        <th data-field="time" data-sortable="true">
                            耗时
                        </th>
                        <th data-field="finished_time" data-sortable="true">
                            完成时间
                        </th>
                      <th data-field="uid" data-formatter="actionCol" data-events="actionEvents">
                          操作
                      </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
  {% block js %} 
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

        // $("#export-history-btn").click(function() {
        //     exportHistoryData();
        // });

        $(".qa_item").click(function(e) {
            uid = $(this).val().split("_")[0];
            qa_id = $(this).val().split("_")[1];
            kind_id = $(this).val().split("_")[2];
            window.location.href = '/bs/qa_info_page?uid='+uid+'&qa_id='+qa_id+'&kind_id='+kind_id;
        });

        $('#test-history-list').bootstrapTable({
            method: 'get', 
            dataType: "json",
            search: "true",
            url: "/api/qa_history_data",
            pagination:"true",
            pageList: [10, 20, 50, 100], 
            pageSize: 10,
            pageNumber: 1,
            toolbar:"#toolbar",
            showExport: true,          //是否显示导出
            showColumns: "true",           
            exportDataType: "basic",              //basic', 'all', 'selected'.
            queryParams: function(params) {
                var temp = {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };
                return temp;
            },
            // clickToSelect: true,
            columns: [{  
                        checkbox: true  
                    },{  
                        title: '序号',
                        formatter: function (value, row, index) {  
                            return (index+1).toString();  
                        }  
                    }],
            responseHandler: function (res) {
                // console.log(res.data.qaData);
                return res.data.qaData;
            },
        });
    })
    function resultFormatter(value, row, index) {
        return [
            row.total_num+'题/对'+row.correct_num+'/错'+row.incorrect_num
        ].join('');
    }

    function actionCol(value, row, index) {
        if("33" == $("#user-src").val()) {
            return [
                "<button class='btn btn-info btn-sm export_pdf_btn'>生成pdf</button>"
            ].join('');
        } else {
            return [
                "<button class='btn btn-primary btn-sm qa_item'>查看答卷</button> "
            ].join('');
        }
        
    }

    window.actionEvents = {
        'click .qa_item': function(e, value, row, index) {
            window.location.href = '/bs/qa_info_page?uid='+row.uid+'&qa_id='+row.qa_id+'&kind_id='+row.kind_id;
        },
        'click .export_pdf_btn': function(e, value, row, index) {
            window.location.href = '/bs/exportpdf?uid='+row.uid+'&qa_id='+row.qa_id+'&kind_id='+row.kind_id;
        },
    }

    // function exportHistoryData(){
    //     var d = new Date();
    //     var month = d.getMonth()+1;
    //     var day = d.getDate();
    //     var output = d.getFullYear() + '' +
    //         (month<10 ? '0' : '') + month + '' +
    //         (day<10 ? '0' : '') + day;

    //     $('#test-history-list').tableExport({
    //         type: 'xlsx',
    //         escape:"false",
    //         exportDataType: "all",
    //         ignoreColumn: [0, 12],//忽略某一列的索引
    //         fileName:  output + '测试历史记录',//下载文件名称
    //         onCellHtmlData: function (cell, row, col, data){//处理导出内容,自定义某一行、某一列、某个单元格的内容
    //             if(row == 0){
    //                 return data;
    //             }
    //             // console.info(col + ": " + data);
    //             if(col == 1) {
    //                 return parseInt(data).toString();
    //             }
    //             return data;
    //         },
    //     });
    // }
</script>
{% endblock %}