{% extends 'base.html' %}
{% block title %}个人测试历史{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        {% for qa in qaData %}
        <div class="col-md-4 col-sm-12">
            <div class="card" style="margin: 10px;">
                <div class="card-body">
                    <p>编号：{{ forloop.counter }}</p>
                    <h5 class="card-title">“{{ qa.kind_name }}” 得分{{ qa.score }}</h5>
                      <p>您于{{ qa.finished_time }}完成的{{qa.sponsor_name}}“{{ qa.kind_name }}”，共{{ qa.total_num }}题，正确{{ qa.correct_num }}，错误{{ qa.incorrect_num }}，耗时{{ qa.time }}</p>
                      <button class="btn btn-primary qa_item" value="{{qa.qa_id}}_{{qa.kind_id}}">查看答卷</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    <script>
        $(document).ready(function () {
            $(".qa_item").click(function(e) {

                qa_id = $(this).val().split("_")[0];
                kind_id = $(this).val().split("_")[1];
                // console.log(qa_id)
                // console.log(kind_id)
                window.location.href = '/bs/qa_info_page?uid={{ request.session.uid }}&qa_id='+qa_id+'&kind_id='+kind_id;
            });
        })
    </script>
{% endblock %}