{% extends '../admin_base.html' %}
{% block title %}医知题测{% endblock %}
{% block content %}
      <div class="container">
      <div class="jumbotron">
        <h4 class="display-3">{{ request.session.displayname }} 医生，欢迎来到知识树——医知题测管理端!</h4>
        <p class="lead">在题库管理可以根据模板导入题库，在测试管理可以创建测试和管理已创建的测试，测试历史可以查看医生已完成的测试，并导出便于打印的pdf，用户管理可以查看用户列表，锁定激活用户，修改用户基本信息，重置密码等。</p>
        <hr class="my-4">
        <p>欢迎使用本管理端，有疑问随时联系shengling_2005@163.com进行技术支持！</p>
        

      </div>
      </div>
{% endblock %}