{% extends '../base.html' %}
{% block title %}首页{% endblock %}
{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="row justify-content-center">
      <form class="form-signin">
        <h5>请登录</h5>
        <div class="form-group">
          <label for="signInId" class="sr-only">邮箱</label>
          <input type="email" id="signInId" class="form-control" placeholder="xxx@xxx.xxx" required="" autofocus="">
        </div>

        <div class="form-group">
          <label for="signInPassword" class="sr-only">密码</label>
          <input type="password" id="signInPassword" class="form-control" placeholder="wjamdin" required="">
        </div>

        <div class="form-group">
          <label for="signInVcode" class="sr-only">验证码</label>
          <img id="signInVcodeImg" src="" style="height: 50px;width: 150px;" />
          <input type="text" class="form-control" id="signInVcode" placeholder="">
        </div>
        
        <div class="form-group">
          <!-- <a href="#" id="resetPassword" style="margin-right: 10px;" >忘记密码？</a> -->
          <!-- <a href="#" id="signUp" style="margin-right: 30px;" >注册</a> -->
          <button type="button" class="btn btn-primary" id="signInPost">登录</button>
        </div>
      </form>
    </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">

      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
      });
      var loginSign;
      // {% if not has_login %}
          // 点击登录
          // $('#signInNormal').click(function () {
              refreshVcode('signin');
              // $('#signInModalNormal').modal('show');
              $('#signInVcodeImg').click(function () {
                  refreshVcode('signin');
              });
              $('#signInPost').click(function () {
                  var email = $('#signInId').val();
                  var password = $('#signInPassword').val();
                  var vcode = $('#signInVcode').val();
                  if(!checkEmail(email)){
                      $('#signInId').val('');
                      $('#signInId').attr('placeholder', '邮件格式错误');
                      $('#signInId').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signInId').css('border', '1px solid #C1FFC1');
                  }
                  if(!password){
                      $('#signInPassword').attr('placeholder', '请填写密码');
                      $('#signInPassword').css('border', '1px solid red');
                  }else{
                      $('#signInPassword').css('border', '1px solid #C1FFC1');
                  }
                  $.ajax({
                  url: '/api/login_normal',
                  data: {
                      'email': email,
                      'password': password,
                      'sign': loginSign,
                      'vcode': vcode
                  },
                  type: 'post',
                  dataType: 'json',
                  success: function(res){
                      if (res.status === 200){
                          $('#signInModalNormal').modal('hide');
                          window.location.href = '/index';
                      }
                      else if(res.status === 300001) {
                          alert('用户名错误');
                      }
                      else if(res.status === 300002) {
                          alert('密码错误');
                      }
                      else if(res.status === 300003) {
                          alert('验证码错误');
                      }
                      else {
                          alert('登录错误');
                      }
                  }
              })
              });
              $('#signUp').click(function () {
                  refreshVcode('signup');
                  $('#signInModalNormal').modal('hide');
                  $('#signUpModal').modal('show');
                  $('#signInVcodeImg').click(function () {
                      refreshVcode('signup');
                  });
              });
              $('#signIn').click(function () {
                  refreshVcode('signin');
                  $('#signUpModal').modal('hide');
                  $('#signInModalNormal').modal('show');
                  $('#signInVcodeImg').click(function () {
                      refreshVcode('signup');
                  });
              });
              $('#signUpPost').click(function () {
                  var email = $('#signUpId').val();
                  var password = $('#signUpPassword').val();
                  var passwordAgain = $('#signUpPasswordAgain').val();
                  var vcode = $('#signUpVcode').val();
                  if(!checkEmail(email)) {
                      $('#signUpId').val('');
                      $('#signUpId').attr('placeholder', '邮箱格式错误');
                      $('#signUpId').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signUpId').css('border', '1px solid #C1FFC1');
                  }
                  if(!(password === passwordAgain)) {
                      $('#signUpPasswordAgain').val('');
                      $('#signUpPasswordAgain').attr('placeholder', '两次密码输入不一致');
                      $('#signUpPassword').css('border', '1px solid red');
                      $('#signUpPasswordAgain').css('border', '1px solid red');
                      return false;
                  }else{
                      $('#signUpPassword').css('border', '1px solid #C1FFC1');
                      $('#signUpPasswordAgain').css('border', '1px solid #C1FFC1');
                  }
                  $.ajax({
                      url: '/api/signup',
                      type: 'post',
                      data: {
                          'email': email,
                          'password': password,
                          'password_again': passwordAgain,
                          'sign': loginSign,
                          'vcode': vcode
                      },
                      dataType: 'json',
                      success: function (res) {
                          if(res.status === 200) {
                              sign = res.data.sign;
                              email = res.data.email;
                              window.location.href = '/auth/signup_redirect?email=' + email + '&sign=' + sign;
                          }
                          else if(res.status === 300002) {
                              alert('两次输入密码不一致');
                          }
                          else if(res.status === 300003) {
                              alert('验证码错误');
                          }
                          else if(res.status === 300004) {
                              alert('用户名已存在');
                          }
                      }
                  })
              });
              $('#resetPassword').click(function () {
                  resetPassword();
              })
          // });
      // {% else %}
      //     var userId = {% if request.session.uid %}'{{ request.session.username|safe }}'{% else %}"登录"{% endif %}
      //     $('#signInButton').html(userId);
      //     strHTML = "<li><a href=\"/logout\">注销</a></li><li id=\"resetPassword\"><a href=\"#\">修改密码</a></li>";
      //     $('#signInDropdownMenu').html(strHTML);
      // {% endif %}


      function refreshVcode(label) {
          $.ajax({
              url: '/api/login_vcode',
              data: {},
              dataType: 'json',
              type: 'get',
              success: function (res) {
                  if (res.status === 200) {
                      loginSign = res.data.sign;
                      if(label === 'signin') {
                          $('#signInVcodeImg').attr('src', "data:image/png;base64," + res.data.vcode);
                      }
                      if(label === 'signup') {
                          $('#signUpVcodeImg').attr('src', "data:image/png;base64," + res.data.vcode);
                      }
                  }
              }
          });
      }
    </script>
{% endblock %}