{% extends '../base.html' %}
{% block title %}首页{% endblock %}
{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="row justify-content-center">
      <form class="form-reset">
        <h5>密码修改</h5>
            <div class="form-group">
                <label for="resetId" class="sr-only">电话号码</label>
                <input type="text" class="form-control" id="phoneNumber" readonly="readonly" value="{{phone}}">
            </div>
            <div class="form-group">
                <label for="oldPassword" class="sr-only">旧密码</label>
                <input type="password" class="form-control" id="oldPassword" placeholder="输入旧密码">
            </div>
            <div class="form-group">
                <label for="9;0o8oo" class="sr-only">新密码</label>
                <input type="password" class="form-control" id="resetNewPassword" placeholder="输入新密码">
            </div>
            <div class="form-group">
                <label for="resetNewPasswordAgain" class="sr-only">再次输入密码</label>
                <input type="password" class="form-control" id="resetNewPasswordAgain" placeholder="再次输入新密码">
            </div>
            <div class="form-group">
              <a type="button" class="btn btn-default btn-sm" onclick="history.back(-1)">取消修改</a>
              <button type="button" class="btn btn-primary" id="reset_btn">修改密码</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
      });
      refreshVcode();
      $('#resetVcodeImg').click(function () {
          refreshVcode();
      });
      $('#gotoLogin').click(function () {
          window.location.href = '/login';
      });

      $('#reset_btn').click(function () {
          var phoneNumber = $('#phoneNumber').val();
          var oldPassword = $('#oldPassword').val();
          var newPassword = $('#resetNewPassword').val();
          var newPasswordAgain = $('#resetNewPasswordAgain').val();

          if(!$('#oldPassword').val()) {
              $('#oldPassword').attr('placeholder', '旧密码不能为空');
              $('#oldPassword').css('border', '1px solid red');
              return false;
          }else{
              $('#oldPassword').css('border', '1px solid #C1FFC1');
          }

          if(!$('#resetNewPassword').val()) {
              $('#resetNewPassword').attr('placeholder', '新密码不能为空');
              $('#resetNewPassword').css('border', '1px solid red');
              return false;
          }else{
              $('#resetNewPassword').css('border', '1px solid #C1FFC1');
          }

          if(!$('#resetNewPasswordAgain').val()) {
              $('#resetNewPasswordAgain').attr('placeholder', '重复密码不能为空');
              $('#resetNewPasswordAgain').css('border', '1px solid red');
              return false;
          }else{
              $('#resetNewPasswordAgain').css('border', '1px solid #C1FFC1');
          }

          if(!(newPassword === newPasswordAgain)){
              alert('两次输入新密码不一致!');
              $('#resetNewPassword').css('border', '1px solid red');
              $('#resetNewPasswordAgain').css('border', '1px solid red');
              return false;
          }else{
              $('#resetNewPassword').css('border', '1px solid #C1FFC1');
              $('#resetNewPasswordAgain').css('border', '1px solid #C1FFC1');
          }

          if(newPassword === oldPassword){
              alert('新密码与原始密码一致!');
              $('#resetNewPassword').css('border', '1px solid red');
              $('#oldPassword').css('border', '1px solid red');
              return false;
          }

          $.ajax({
              url: '/api/resetpasswd',
              type: 'post',
              data: {
                  'phone': $('#phoneNumber').val(),
                  'old_password': oldPassword,
                  'new_password': newPassword,
                  'new_password_again': newPasswordAgain,
              },
              dataType: 'json',
              success: function (res) {
                  if(res.status === 200) {
                      alert('修改密码成功！即将跳转到登录页。。。');
                      window.location.href = '/logout';
                  } else if(res.status === 300002) {
                      $('#oldPassword').css('border', '1px solid red');
                      alert('原始密码错误！');
                  } else {
                      alert('修改密码失败！');
                  }
              }
          });
          return false;
      })

      function refreshVcode() {
          $.ajax({
              url: '/api/login_vcode',
              data: {},
              dataType: 'json',
              type: 'get',
              success: function (res) {
                  if (res.status === 200) {
                      loginSign = res.data.sign;
                      $('#resetVcodeImg').attr('src', "data:image/png;base64," + res.data.vcode);
                  }
              }
          });
      }
    </script>
{% endblock %}