{% extends '../base.html' %}
{% block title %}首页{% endblock %}
{% block content %}
<div class="container" style="padding-top: 20px;">
  <div class="row justify-content-center">
      <form class="form-signin">
        <h5>请填写注册信息</h5>
            <div class="form-group">
                <label for="phoneNumber" class="sr-only">手机号</label>
                <input type="text" class="form-control" id="phoneNumber" placeholder="11位手机号" value="18073100720">
            </div>
            <div class="form-group">
                <label for="displayname" class="sr-only">医生姓名</label>
                <input type="text" class="form-control" id="displayname" placeholder="医生姓名">
            </div>
            <div class="form-group">
                <label for="traineeType">学员身份</label></br>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" value="0">实习医生
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" value="1">住院医师
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" value="2">进修医生
                  </label>
                </div>
            </div>
            <div class="form-group">
                <label for="signUpPassword" class="sr-only">密码</label>
                <input type="password" class="form-control" id="signUpPassword" placeholder="#p@ssw0d123" value="123456">
            </div>
            <div class="form-group">
                <label for="signUpPasswordAgain" class="sr-only">确认密码</label>
                <input type="password" class="form-control" id="signUpPasswordAgain" placeholder="#p@ssw0d123" value="123456">
            </div>
            <div class="form-group">
                <label for="signUpVcode" class="sr-only">验证码</label>
                <img id="signUpVcodeImg" src="" style="height: 50px;width: 150px;" />
                <input type="text" class="form-control" id="signUpVcode" placeholder="输入上方验证码">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default btn-sm" id="signIn">已有账户，去登录</button>
              <button type="button" class="btn btn-primary" id="signUpPost">注册</button>
            </div>
      </form>
    </div>
</div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
      $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
      });
      refreshVcode();
      $('#signUpVcodeImg').click(function () {
          refreshVcode();
      });
      $('#signIn').click(function () {
          window.location.href = '/login';
      });
      $('#signUpPost').click(function () {
          var phone = $('#phoneNumber').val();
          var displayname = $('#displayname').val();
          var password = $('#signUpPassword').val();
          var passwordAgain = $('#signUpPasswordAgain').val();
          var vcode = $('#signUpVcode').val();
          var traineeType = $("input[name='optradio']:checked").val();
          
          // if(!checkPhoneNumber(phone)) {
          //     $('#phoneNumber').val('');
          //     $('#phoneNumber').attr('placeholder', '电话号码错误');
          //     $('#phoneNumber').css('border', '1px solid red');
          //     return false;
          // }else{
          //     $('#signUpId').css('border', '1px solid #C1FFC1');
          // }
          if(!(password === passwordAgain)) {
              $('#signUpPasswordAgain').val('');
              $('#signUpPasswordAgain').attr('placeholder', '两次密码输入不一致');
              $('#signUpPassword').css('border', '1px solid red');
              $('#signUpPasswordAgain').css('border', '1px solid red');
              return false;
          }else{
              $('#signUpPassword').css('border', '1px solid #C1FFC1');
              $('#signUpPasswordAgain').css('border', '1px solid #C1FFC1');
          }
          $.ajax({
              url: '/api/signup_normal',
              type: 'post',
              data: {
                  'phone': phone,
                  'password': password,
                  'password_again': passwordAgain,
                  'displayname': displayname,
                  'trainee_type': traineeType,
                  'sign': loginSign,
                  'vcode': vcode
              },
              dataType: 'json',
              success: function (res) {
                  if(res.status === 200) {
                      sign = res.data.sign;
                      phone = res.data.phone;
                      alert("注册成功，请联系管理员审核！");
                      window.location.href = '/login';
                  }
                  else if(res.status === 300002) {
                      alert('两次输入密码不一致');
                  }
                  else if(res.status === 300003) {
                      alert('验证码错误');
                  }
                  else if(res.status === 300004) {
                      alert('用户名已存在');
                  }
              }
          })
      });

      function checkPhoneNumber(phoneNumber) {
          return phoneNumber.match('^(?=\d{11}$)^1(?:3\d|4[57]|5[^4\D]|66|7[^249\D]|8\d|9[89])\d{8}$')
      }

      function refreshVcode() {
          $.ajax({
              url: '/api/login_vcode',
              data: {},
              dataType: 'json',
              type: 'get',
              success: function (res) {
                  if (res.status === 200) {
                      loginSign = res.data.sign;
                      $('#signUpVcodeImg').attr('src', "data:image/png;base64," + res.data.vcode);
                  }
              }
          });
      }
    </script>
{% endblock %}