{% extends '../base.html' %}
{% block title %}用户列表{% endblock %}
{% block content %}
    <div class="main-content container">
        <div class="position toInWhere">
            <b>当前位置：</b><span>
                <a>用户管理</a>
        </div>
        <div class="row text-center">
            <div id="toolbar">
                <button class="btn btn-success" id="export-score-report-btn">导出用户信息</button>
            </div>
            <table id="normal-user-list" class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th data-field="" checkbox="true">

                        </th>
                        <th data-field="">
                            序号
                        </th>
                        <th data-field="displayname" data-sortable="true">
                            姓名
                        </th>
                        <th data-field="username" data-sortable="true">
                            用户名
                        </th>
                        <th data-field="user_src" data-sortable="true">
                            权限类别
                        </th>
                        <th data-field="trainee_type" data-sortable="true">
                            学员类型
                        </th>
                        <th data-field="is_active" data-sortable="true" data-formatter="activeFormatter">
                            是否激活
                        </th>
                        <th data-field="uid" data-formatter="actionCol" data-events="actionEvents">
                            操作
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
        });

        $('#normal-user-list').bootstrapTable({
            method: 'get', 
            dataType: "json",
            search: "true",
            url: "/normal_user_list_data",
            pagination:"true",
            pageList: [10, 20], 
            pageSize: 10,
            pageNumber: 1,
            toolbar:"#toolbar",
            showExport: true,          //是否显示导出
            showColumns: "true",           
            exportDataType: "basic",              //basic', 'all', 'selected'.
            queryParams: function(params) {
                var temp = {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                };
                return temp;
            },
            // clickToSelect: true,
            columns: [{  
                        checkbox: true  
                    },{  
                        title: '序号',
                        formatter: function (value, row, index) {  
                            return index+1;  
                        }  
                    }],
            responseHandler: function (res) {
                // console.log(res.data.userData);
                return res.data.userData;
            },
        });
    })
    function activeFormatter(value, row, index) {
        if (row.is_active) {
            return [
                '是'
            ].join('');
        } else {
            return [
                '否'
            ].join('');
        }
    }

    function actionCol(value, row, index) {
        return [
            "<button class='btn btn-primary btn-sm active_user_item'>激活</button> "+
            " <button class='btn btn-warning btn-sm deactive_user_item'>锁定</button>"
        ].join('');
    }

    window.actionEvents = {
        'click .active_user_item': function(e, value, row, index) {
            $.ajax({
                url: "/active_normal_user",
                data: {
                    'activeUserId': row.uid,
                    'activeUsername': row.username,
                },
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    if (res.status === 200) {
                        alert("用户（" + activeUsername + '）激活成功');
                        window.location.href = "/normal_user_list";
                    } else {
                        alert("用户（" + activeUsername + '）激活失败');
                    }
                }
            });
        },
        'click .deactive_user_item': function(e, value, row, index) {
            $.ajax({
                url: "/deactive_normal_user",
                data: {
                    'activeUserId': row.uid,
                    'activeUsername': row.username,
                },
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    if (res.status === 200) {
                        alert("用户（" + activeUsername + '）锁定成功');
                        window.location.href = "/normal_user_list";
                    } else {
                        alert("用户（" + activeUsername + '）锁定失败');
                    }
                }
            });
        },
    }
    
</script>
{% endblock %}

